<header id="rabbit-header">
  {{#if settings.category_1_image}}
    <div class="header-content">
      <a href="{{settings.category_1}}" class="link-container">
        <img src="{{settings.category_1_image}}" alt="From the Team" />
      </a>
    </div>
  {{else}}
    <p style="color: red; text-align: center;">Category 1 settings are missing or invalid</p>
  {{/if}}
</header>
